<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <main>
    <h1>Product data:</h1>
    <p>Name: <%= product.name %></p>
    <p>Model: <%= product.model %></p>
    <p>Price: <%= product.price %> €</p>
    <p>Type: <%= product.type %></p>
    <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
