body {
  background-color: lightgreen;
}

main {
  display: grid;
  justify-items: center;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  width: 13em;
  height: 2em;
  border: 0.1em solid black;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  background-color: darkred;
  color: white;
}

label {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 16pt;
}

.status {
  color: green;
  font-weight: bold;
  font-size: 16pt;
}
