<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <form id="login" action="/login" method="post">
        <p>
          <label for="name">Username:</label>
          <input type="text" id="name" name="name" size="10">
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" size="15">
        </p>
        <button type="submit">Submit</button>
      </form>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
