<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <main>
      <h1>Menu</h1>
      <a href="/all"><button>no login required</button></a>
      <a href="/publicdata"><button>user data</button></a>
      <a href="/admindata"><button>admin data</button></a>
      <a href="login"><button>login</button></a>
      <a href="logout"><button>logout</button></a>
    </main>
  </body>
</html>
